hr {
	width: 461px;
}
.charName {
	font-family: 'Mono_FeatureBold';
	font-size:20px;
	letter-spacing: 1px;
	color: #fa2742;
}
.charDesc {
	font-family: 'PP_Mori_medium';
	font-size:10px;
	letter-spacing: 1px;
	width: 461px;
}
.row {
	padding:30px;
}
.abbName {
	font-family: 'Mono_FeatureBold';
	font-size: 16px;
	color: #fa2742;
	letter-spacing: 1px;
}
.abbDesc {
	font-family: 'PP_Mori_medium';
	font-size: 9px;
	width: 461px;
	letter-spacing: 1px;
}
.cooldown {
	font-family: 'PP_Mori_bold';
	font-size: 7px;
	color: #e8eae3;
	letter-spacing: 1px;
	position: absolute;
	margin-top: -14px;
	margin-left: -80px;
}
.nature {
	font-family: 'PP_Mori_bold';
	font-size: 7px;
	letter-spacing: 1px;
	position: absolute;
	margin-top: -17px;
	margin-left: 280px;
}
.nature img {
	height: 15px;
}

  
/* Media Query for Laptops and Desktops */
@media  (max-width: 1220px){
	#bigScreen {
		display:none;
	}
}
  
/* Media Query for Large screens */
@media (min-width: 1221px) {

	#smallScreen {
		display:none;
	}

}


